html, body {
    background-color: #0b0b0b;
}

.home {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.home-content {
    margin-left: 140px;
    margin-right: 40px;
    width: 100%;
}

.home-content h1 {
    color: white;
    font-size: 3.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.home-tiles {
    display: flex;
    flex-direction: row;
    gap: 20px; 
}

.home-content h2 {
    margin-bottom: 15px;
    margin-top: 0px;
    color: white;
    font-size: 1.5rem;
    z-index: 1;
    position: relative;
}

.products-tile {
    background-color: #181818;
    border-radius: 25px;
    border: solid rgba(255, 255, 255, .25) 1px;
    width: calc(50% - 10px);
    height: 83vh;
    padding: 15px;
    padding-top: 10px;
    position: relative; 
}

.tile-header {
    display: flex;
    flex-direction: row;
}

.home-products {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 47px);
    gap: 15px;
}

.home-product {
    width: 100%;
    height: calc(33% - 47px);
    position: relative;
    transition: transform 0.3s ease;
    border: 2px solid white;
    border-radius: 25px;
    transform-origin: center center; /* ensure scaling from center */
}

.home-product:hover, .home-storefront:hover {
    cursor: pointer;
    box-shadow: white;
}

.home-product {
    width: calc(100% - 30px);
    height: 30%;
    padding: 10px;
    padding-left: 15px;
    border: 1px rgba(255, 255, 255, 1) solid;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden; /* Hide anything spilling out */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease;
}

.home-product::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background: rgba(24, 24, 24, 0.5); /* Semi-transparent dark overlay */
    backdrop-filter: blur(7px); /* Apply blur effect */
    z-index: 0; /* Ensure the overlay is beneath the text */
}

.home-product p {
    z-index: 1;
    position: relative;
    margin-top: 10px;
    color: white;
}

.view-all-products {
    display: flex;
    flex-direction: row;
    color: white;
    position: absolute;
    top: 5px;
    right: 15px;
}

.view-all-products p {
    margin: 0px;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.arrow-right {
    height: 12px;
    margin: 0px;
    margin-top: 16px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.view-all-products:hover .arrow-right {
    transform: translateX(3px);
}

.view-all-products:hover {
    cursor: pointer;
}

.view-all-products:hover p {
    transform: skewX(-10deg);
}



.home-product h3, .home-storefront h3{
    margin: 15px;
    margin-top: 10px;
    margin-right: 2px;
    font-size: 1.5rem;
    color: white;
}

.small-home-tiles {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.small-home-tile {
    width: 100%;
    background-color: #181818;
    border-radius: 25px;
    border: solid rgba(255, 255, 255, .25) 1px;
    padding: 15px;
    padding-top: 10px;
    position: relative;
}

.storefronts-small-home-tile {
    height: calc(40% - 10px);
}

.orders-small-home-tile {
    height: calc(60% - 10px);
}

.home-ag-theme {
    --ag-background-color: #333; /* Dark grey background */
    --ag-foreground-color: white; /* White text */
    --ag-header-background-color: #444; /* Slightly darker header */
    --ag-border-color: transparent; /* Remove default borders */
    /* Hover color */
    --ag-row-hover-color: rgba(255, 73, 73, 0.3); /* Red hover with transparency */
    border-radius: 25px;
    height: calc(100% - 47px);
    width: 100%;
}

/* Remove external scrollbar, only allow the internal scrollbar */
.home-ag-theme .ag-root-wrapper {
    overflow: hidden; /* Prevent outer scrollbars */
    
}

.home-ag-theme .ag-body-viewport {
    overflow-y: auto; /* Enable internal vertical scrollbar */
}

.home-ag-theme .ag-body {
    height: 375px;
}


/* Apply red border to selected cell */
.home-ag-theme .ag-cell:focus {
    border: 2px solid rgba(255, 73, 73, 0.3) !important; /* Red border on focus */
    outline: none !important; /* Remove default outline */
}

.home-ag-theme .ag-header {
    position: sticky;
    top: 0;
    background-color: #444; /* Match dark theme */
    z-index: 2; /* Ensure it's above rows */
}

.storefront-tiles {
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: calc(100% - 47px);
}

.home-storefront {
    width: calc(33% - 7.5px);
    height: 100%;
    border-radius: 25px;
    border: 2px white solid;
    transition: transform 0.3s ease;
}


