.nav-bar {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 15px;
    background-color: #181818;
    width: 40px;
    position: fixed;
    border-radius: 25px;
    height: calc(100% - 70px); /* Full screen height */
    transition: width 0.3s ease-out, transition-delay 0.3s; /* Include delay for width */
    z-index: 3;
}

.nav-bar:hover {
    width: 175px; /* Expand the width by 120px */
}

.nav-option {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-option:hover {
    cursor: pointer;
}

.nav-option h2 {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    font-size: 1.1rem;
    text-decoration: none;
    margin: 0;
    margin-left: 12px;
    background: linear-gradient(to right, #FF4949, #FF8000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap; /* Prevent text from wrapping to a new line */
}

/* On hover, show text with delay */
.nav-bar:hover .nav-option h2 {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s; /* Delay text fade-in */
}

/* When hover ends, hide text immediately */
.nav-bar:not(:hover) .nav-option h2 {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s; /* No delay when hiding */
}

/* Delay navbar width retraction after text is hidden */
.nav-bar:not(:hover) {
    transition-delay: 0.3s; /* Delay retraction of bar until text is hidden */
}


/* For border gradient */
.nav-bar::before {
    content: "";
    position: absolute;
    inset: 0; 
    padding: 2px; 
    border-radius: 25px;
    background: linear-gradient(to bottom, #FF4949, #FF8000);
    -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none; 
}

.logo {
    width: 40px;
    height: 40px;
}

/* Wrap the icons in a container to push them to the top */
.nav-icons {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 30px;
    margin-bottom: auto;
}

/* Regular navigation icons (stay at the top) */
.nav-icon {
    width: 40px;
    height: 40px;
}

/* Bottom icon (sticks to bottom) */
.bottom-nav-icon {
    width: 40px;
    height: 40px;
}

.bottom-nav-icons {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 30px;
}
