.my-products {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: #0b0b0b;
    height: 100vh;
}

.products-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.my-products-content {
    margin-left: 140px;
    margin-right: 5px;
    width: 100%;
}

.my-products-content h1 {
    color: white;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.products-container {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;
    max-height: calc(100vh - 72.4px - 20px); /* Adjust the height so it takes up the remaining space */
    overflow-y: auto;  /* Enable vertical scrolling when content overflows */
    padding: 10px; /* Optional, add some padding to the container */
    position: relative; /* To position the gradient */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
}

/* Hide the scrollbar track */
.products-container::-webkit-scrollbar {
    width: 10px;  /* Hide the scrollbar */
    background: transparent; /* Make the background transparent */
}

.products-container::-webkit-scrollbar-track {
    background: transparent;  /* Hide the track */
}

.products-container::-webkit-scrollbar-thumb {
    background: #181818; /* Optional: Adjust the scrollbar thumb color */
    border-radius: 10px;  /* Optional: round the thumb */
    border: 1px solid rgba(255, 255, 255, .25);
}


.product-tile:hover {
    cursor: pointer;
}

.product-tile h2 {
    margin: 0px;
    color: white;
    font-size: 1.25rem;
    z-index: 1;
    position: relative;
}

.product-tile p {
    z-index: 1;
    position: relative;
    margin-top: 10px;
    color: white;
}

.add-new-icon {
    margin-top: 16px;
    margin-left: 12px;
    height: 2rem;
    width: 2rem;
}

.product-tile {
    width: calc(50% - 10px);
    height: 225px;
    padding: 10px;
    padding-left: 15px;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden; /* Hide anything spilling out */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-tile::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background: rgba(24, 24, 24, 0.5); /* Semi-transparent dark overlay */
    backdrop-filter: blur(7px); /* Apply blur effect */
    z-index: 0; /* Ensure the overlay is beneath the text */
    border: 1px rgba(255, 255, 255, .25) solid;
    
}

.product-info {
    width: 65%;
    height: 100%;
}

.product-image-preview {
    z-index: 1;
    margin-left: auto;
    max-height: 200px;
    max-width: 200px; /* Maintain aspect ratio */
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: 15px;
    border: 1px white solid;
}