.logo-header {
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.logo-header h1 {
    font-style: italic;
    font-weight: 700;
}

/* Center the card in the middle of the screen */
.register-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-color: #0b0b0b;
  }
  
  /* Style the card */
  .register-card {
    width: 100%;
    max-width: 400px; /* Set a max width */
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    color: white;
    align-items: center;
    background-color: #181818;
  }
  
  /* Customize the submit button */
  .register-button {
    width: 100%;
    font-size: 1.1rem;
    background: linear-gradient(to right, #FF4949, #FF8000);
    border: none;
  }
  
  .text-muted {
    color: rgba(255, 255, 255, 0.5) !important;
  }

  .register-card a {
    color: rgba(255, 255, 255, 0.75) !important;
  }

  .register-card a:hover {
    color: rgba(255, 255, 255, 1) !important;
  }